{% extends 'base/index.html' %}
   {% block title %}
        Вход на сайт
    {% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <h1>Вы уже авторизованы</h1>
    <a href="{% url 'index' %}">Домашняя страница</a>
{% else %}
{% if  form.errors  %}
    {{ form.errors }}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>

            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Войти"/></td>
                <input type="hidden" name="next" value="{{ next }}" />
            </tr>
    </table>
</form>
{% endif %}
{% endblock %}
